# Test Tree::Term 2021-11-11 at 12:58:08

name: Test

on:
  push

jobs:
  ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Install Data::Table::Text
      run: |
        sudo cpan install -T Data::Table::Text Test::Most

    - name: Test
      run: |
        perl -Ilib/ test.pl
        perl lib/Tree/Term.pm

  mac:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Install Data::Table::Text
      run: |
        sudo cpan install -T Data::Table::Text Test::Most

    - name: Test
      run: |
        perl -Ilib/ test.pl
        perl lib/Tree/Term.pm
